<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="adminBase::layout(~{::section})">
<head>
    <meta charset="ISO-8859-1">
    <title>TSE - CITIES</title>
</head>
<body>

<section>

    <div class="container p-3">

            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header text-center fs-4">Update City</div>
                        <div class="card-body">
                            <form action="#" th:action="@{/admin/updateCityAction}" th:method="post" th:object="${city}">

                                <div class="mb-3">

                                    <input type="hidden" th:field="${city.id}">

                                    <label>Name:</label> <input type="text"
                                                                name="name" class="form-control" th:field="${city.name}">
                                </div>
                                <div class="mb-3">
                                    <label>Country:</label> <input type="text" name="country"
                                                                   class="form-control" th:field="${city.country}">
                                </div>

                                <div class="mb-3">
                                    <label>Region:</label> <input type="text"
                                                                  name="region" class="form-control" th:field="${city.region}">
                                </div>
                                <button class="btn btn-danger col-md-12">UPDATE</button>

                            </form>
                        </div>
                </div>
            </div>

        </div>

    </div>

</section>

</body>
</html>