<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
th:replace="base::layout(~{::section})">
<head>
    <meta charset="ISO-8859-1">
    <title>TSE - HOME</title>
</head>
<body>
        <section>
            <div class="container text-white text-center">

                <br/><br/><br/>
                <div class="row">

                    <h4>Discover the world of entertainment like never before with our comprehensive platform that brings you closer to cities, theaters, and actors from around the globe. The Theater Search Engine is your one-stop destination to explore the captivating world of performing arts and cinema.</h4>

                </div>

                <br/><br/>

                <div class="row">

                    <div class="col">
                        <h5>Explore Cities</h5>
                        <p>Immerse yourself in the diversity of cultures and experiences that cities have to offer. From the bustling theaters of New York to the historic playhouses of London, our platform allows you to explore theaters and actors in cities near and far. Get a glimpse into the vibrant performing arts scenes that cities across the world have cultivated.</p>
                    </div>
                    <div class="col">
                        <h5>Discover Theaters</h5>
                        <p>Step into the realm of artistic expression by browsing through a curated collection of theaters. Whether you're interested in classic opera houses, modern multiplex cinemas, or intimate playhouses, we've got you covered. Learn about the history, architecture, and upcoming shows of theaters that have left an indelible mark on the world of entertainment.</p>
                    </div>
                    <div class="col">
                        <h5>Meet Actors</h5>
                        <p>Experience the magic of the stage and screen through the profiles of talented actors who bring characters to life. Delve into the careers, performances, and achievements of actors who have graced stages and screens worldwide. From seasoned legends to rising stars, you'll find a treasure trove of information about the actors who captivate audiences with their craft.</p>
                    </div>

                </div>

            </div>
        </section>


</body>
</html>