<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout(content)">
<head>
    <meta charset="ISO-8859-1">
    <title>TheaterSearchEngine</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="bg-dark">
<br/>
<div class="row text-white fw-bold fs-3 text-center">
    <h1>Theater Search Engine</h1>
</div>
<br/>
<nav class="navbar navbar-expand-lg navbar-dark bg-danger">

    <div class="container-fluid">

            <a class="navbar-brand text-dark fs-4 fw-bold" href="#"> [TSE] </a>


            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <th:block th:if="${user==NULL}">

                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                            <li class="nav-item"><a id="registerLink" class="nav-link" href="register">Register</a></li>
                            <li class="nav-item"><a id="loginLink" class="nav-link" href="signin">Login</a></li>

                        </ul>

                    </th:block>

                    <th:block th:if="${user!=NULL}">


                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                            <li class="nav-item">
                                <a id="homeLink" class="nav-link " href="home">Home</a>
                            </li>

                            <li class="nav-item">
                                <a id="citiesLink" class="nav-link " href="listCities">Cities</a>
                            </li>
                            <li class="nav-item">
                                <a  id="theatersLink" class="nav-link " href="listTheaters">Theaters</a>
                            </li>
                            <li class="nav-item">
                                <a  id="actorsLink" class="nav-link " href="listActors">Actors</a>
                            </li>
                            <li class="nav-item">
                                <a id="allLink" class="nav-link " href="listAll">List All</a>
                            </li>
                        </ul>



                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-5">

                            <li class="nav-item dropdown">

                                <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Hello, [[${user.fullName}]]!</a>

                                <ul class="dropdown-menu">
                                    <!--                            <li><a class="dropdown-item" href="#">Edit Profile</a></li>-->
                                    <li><a class="dropdown-item" href="changePassword">Change Password</a></li>
                                    <hr class="dropdown-divider">
                                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                                </ul>

                            </li>

                        </ul>

                        <form action="listSearch" class="d-flex" role="search" method="get">
                            <input class="form-control me-2" type="search" name="query" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-light" type="submit">Search</button>
                        </form>

                    </th:block>
                </div>
    </div>

</nav>

<div th:replace="${content}"></div>

<script>
    var currentUrl = window.location.href;

    if (currentUrl.includes("/user/home")) {
        document.getElementById("homeLink").classList.add("active");
    } else if (currentUrl.includes("/user/listCities")) {
        document.getElementById("citiesLink").classList.add("active");
    }else if (currentUrl.includes("/user/listTheaters")) {
        document.getElementById("theatersLink").classList.add("active");
    }else if (currentUrl.includes("/user/listActors")) {
        document.getElementById("actorsLink").classList.add("active");
    }else if (currentUrl.includes("/user/listAll")) {
        document.getElementById("allLink").classList.add("active");
    }else if (currentUrl.includes("/register")) {
        document.getElementById("registerLink").classList.add("active");
    }else if (currentUrl.includes("/signin")) {
        document.getElementById("loginLink").classList.add("active");
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</body>
</html>